flow.json
[{"id":"44cb17f3.2d4e08","type":"tab","label":"IO Setup","disabled":false,"info":"Make the initial GPIO setup in this flow."},{"id":"db9bca35.a130c8","type":"tab","label":"Alexa Relay Control","disabled":false,"info":""},{"id":"d51447a.c2b23b8","type":"subflow","name":"Jupiter GPIO Write","info":"A node for writing the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":140,"wires":[{"id":"735ad6de.ae6638"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"b8f92813.ebf548","type":"subflow","name":"Jupiter GPIO Mode","info":"A node for setting the Jupiter Boards GPIO pin mode. It uses the wiringPI library in command line fashion. \n\nThe mode can be one of the following string:\n- \"in\"  : digital input mode.\n- \"out\" : digital output mode.\n- \"pwm\" : PWM output mode.\n- \"up\"  : internal pull-up enabled.\n- \"down\": internal pull-down enabled.\n- \"tri\" : tri-state mode enabled.\n\nConfiguration parameters:\n- \"pin\" : the GPIO pin number as a string.\n- \"mode\": the GPIO mode as one of the above.","category":"","in":[{"x":200,"y":140,"wires":[{"id":"83eb4a9.84652b8"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}},{"name":"mode","type":"str","value":"out"}],"color":"#C0DEED","icon":"node-red/cog.svg"},{"id":"a6a648cf.052f38","type":"subflow","name":"Jupiter GPIO Pwm","info":"A node for writing the Jupiter Boards GPIO pins in PWM mode. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the PWM value (\"0\" to \"1023\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":100,"wires":[{"id":"c2504aea.ef8878"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0"}],"color":"#C0DEED","icon":"node-red/trigger.svg"},{"id":"12b4fb35.329bb5","type":"subflow","name":"Jupiter GPIO Read","info":"A node for reading the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\nIt has to be polled with any input (even empty) to provide a result.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: triggers the flow execution.\n\nOutputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").","category":"","in":[{"x":40,"y":80,"wires":[{"id":"ce707c16.e054b"}]}],"out":[{"x":520,"y":60,"wires":[{"id":"b63bdcfe.c3a97","port":0}]}],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"1f793bd7.3c3774","type":"alexa-home-conf","z":"","username":"ffich"},{"id":"22bba9a3.aef356","type":"alexa-home-conf","z":"","username":"ffich"},{"id":"2f221da6.7658b2","type":"exec","z":"d51447a.c2b23b8","command":"gpio write ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Write","x":510,"y":140,"wires":[[],[],[]]},{"id":"735ad6de.ae6638","type":"function","z":"d51447a.c2b23b8","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["2f221da6.7658b2"]]},{"id":"83eb4a9.84652b8","type":"function","z":"b8f92813.ebf548","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + env.get(\"mode\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["bf364988.e4f648"]]},{"id":"bf364988.e4f648","type":"exec","z":"b8f92813.ebf548","command":"gpio mode ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Mode","x":550,"y":140,"wires":[[],[],[]]},{"id":"c2504aea.ef8878","type":"function","z":"a6a648cf.052f38","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["77736f5.1a9ee9"]]},{"id":"77736f5.1a9ee9","type":"exec","z":"a6a648cf.052f38","command":"gpio pwm","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Pwm","x":510,"y":100,"wires":[[],[],[]]},{"id":"ce707c16.e054b","type":"function","z":"12b4fb35.329bb5","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\");\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["b63bdcfe.c3a97"]]},{"id":"b63bdcfe.c3a97","type":"exec","z":"12b4fb35.329bb5","command":"gpio read ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Read","x":390,"y":80,"wires":[[],[],[]]},{"id":"bd5dcdc9.dc332","type":"subflow:b8f92813.ebf548","z":"44cb17f3.2d4e08","name":"Set Relay Mode","env":[{"name":"pin","value":"8","type":"str"}],"x":360,"y":100,"wires":[]},{"id":"d05135cf.d34b58","type":"inject","z":"44cb17f3.2d4e08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["bd5dcdc9.dc332"]]},{"id":"fd4e5303.b8d9b","type":"subflow:d51447a.c2b23b8","z":"44cb17f3.2d4e08","name":"Init Relay","env":[{"name":"pin","value":"8","type":"str"}],"x":340,"y":160,"wires":[]},{"id":"b6d20a12.19aa38","type":"inject","z":"44cb17f3.2d4e08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[["c78b8fc9.06e43"]]},{"id":"c78b8fc9.06e43","type":"subflow:b8f92813.ebf548","z":"44cb17f3.2d4e08","name":"Set LED mode","env":[{"name":"pin","value":"7","type":"str"}],"x":360,"y":260,"wires":[]},{"id":"3d2e5e13.da2cf2","type":"inject","z":"44cb17f3.2d4e08","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":380,"wires":[["7cade4c9.b11f2c"]]},{"id":"7cade4c9.b11f2c","type":"trigger","z":"44cb17f3.2d4e08","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":290,"y":380,"wires":[["7fd608c.caa34f8"]]},{"id":"7fd608c.caa34f8","type":"subflow:d51447a.c2b23b8","z":"44cb17f3.2d4e08","name":"Set LED State","env":[{"name":"pin","value":"7","type":"str"}],"x":490,"y":380,"wires":[]},{"id":"33c487e5.774338","type":"alexa-home","z":"db9bca35.a130c8","conf":"22bba9a3.aef356","device":"110913","acknoledge":true,"name":"Jupiter","topic":"","x":110,"y":120,"wires":[["84406ffc.08641"]]},{"id":"84406ffc.08641","type":"switch","z":"db9bca35.a130c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":120,"wires":[["5bc7a81a.3ffe68"],["fe5a4dbb.7e50f"]]},{"id":"93632e57.8a7e4","type":"subflow:d51447a.c2b23b8","z":"db9bca35.a130c8","name":"Set Relay","env":[{"name":"pin","value":"8","type":"str"}],"x":640,"y":120,"wires":[]},{"id":"be21d333.3b937","type":"inject","z":"44cb17f3.2d4e08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":90,"y":160,"wires":[["fd4e5303.b8d9b"]]},{"id":"5bc7a81a.3ffe68","type":"change","z":"db9bca35.a130c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":60,"wires":[["93632e57.8a7e4"]]},{"id":"fe5a4dbb.7e50f","type":"change","z":"db9bca35.a130c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["93632e57.8a7e4"]]}]